.container {
  height: 100%;
  padding-bottom: 200px;
  font-family: "Acme", sans-serif;
  .cover {
    min-height: 130px;
    margin-top: 90px;
    background-color: rgb(153, 153, 153);
    img {
      width: 1200px;
      opacity: 0.9;
    }
  }
  .movie {
    margin: auto;
    display: flex;
    align-items: center;
    background: #333333;
    color: white;
    .poster {
      position: relative;
      top: -100px;
      align-self: flex-start;
      margin-left: 90px;
      height: 513px;
      width: 342px;
    }
    .movie_details {
      flex: 1 1 0;
      align-self: flex-start;
      padding-left: 20px;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 800px;
      min-height: 413px;
      .add_watchlist {
        width: 720px;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px white solid;
        .rating {
          width: 130px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 30px;
          line-height: 45px;
        }
        button {
          font-family: "Acme", sans-serif;
          height: 45px;
          line-height: 45px;
          width: 260px;
          font-size: 23px;
          font-weight: bold;
          background: #f5c611;
          border: 0;
          transform: translateZ(0);
          box-sizing: border-box;
        }
        .remove_watchlist {
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #ff1a1a;
            transform: scaleY(0);
            transform-origin: 50% 0%;
            transition-property: transform;
            transition: 300ms ease-out;
          }
          &:hover {
            span {
              display: none;
            }
            &:before {
              transform: scaleY(1);
              content: attr(hover);
            }
          }
        }
        img {
          position: relative;
          top: 6px;
          margin-right: 15px;
          width: 32px;
          height: 32px;
        }
      }
      a {
        text-decoration: none;
        color: black;
        display: block;
      }
      .title {
        align-self: center;
        font-size: 60px;
        margin-bottom: 10px;
      }
      .genres {
        margin-left: 30px;
        font-size: 25px;
        max-width: 700px;
        display: flex;
        flex-flow: row wrap;
        p {
          margin: 0;
          margin-right: 20px;
        }
      }
      .overview {
        text-align: start;
        margin: 30px;
        font-size: 20px;
      }
      .info {
        margin-top: 20px;
        margin-left: 30px;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
          display: flex;
          margin-right: 30px;
        }
      }
    }
  }
  .credits {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin: 0px 30px;
    .info {
      width: 150px;
      margin: 0 5px;
      cursor: pointer;
      img {
        width: 150px;
        height: 225px;
        object-fit: cover;
      }
      p {
        margin: 0;
        margin-bottom: 10px;
        color: grey;
      }
      &:hover {
        text-decoration: underline;
        img {
          box-sizing: border-box;
          border: 3px solid #f5c611;
        }
      }
    }
    .more {
      height: 225px;
      width: 150px;
      margin-left: 10px;
      cursor: pointer;
      p {
        font-size: 23px;
        margin-bottom: 30px;
      }
      img {
        position: relative;
        width: 100px;
        right: 20px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .similar {
    display: flex;
    margin: 0 30px;
    .list {
      display: flex;
      width: 630px;
      flex-flow: row wrap;
      box-sizing: border-box;
      div {
        width: 150px;
        margin: 3px;
        height: 225px;
        img {
          width: 150px;
          height: 225px;
          object-fit: cover;
        }
      }
      .item_focus {
        border: 3px solid #f5c611;
        margin: 0px;
      }
    }
    .focused {
      width: 500px;
      display: flex;
      flex-flow: row;
      img {
        margin: 3px;
        width: 260px;
        min-height: 390px;
        object-fit: cover;
      }
      button {
        font-family: "Acme", sans-serif;
        height: 45px;
        margin-top: 6px;
        width: 260px;
        border-radius: 10px;
        font-size: 23px;
        font-weight: bold;
        background-color: #f5c611;
        border: 0;
      }
      .info {
        height: 460px;
        margin-left: 6px;
        .title {
          width: 250px;
          font-size: 25px;
          a {
            text-decoration: none;
            color: black;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .overview {
          text-align: left;
          margin-top: 10px;
          width: 240px;
          height: 380px;
          overflow-y: auto;
          font-size: 18px;
        }
      }
    }
  }
  .segment {
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 30px;
  }
}

.container-error {
  height: 100%;
  padding-bottom: 200px;
  font-family: "Acme", sans-serif;
  margin-top: 90px;
  padding-top: 50px;
  font-size: 50px;
}
