.container_watchlist {
  margin-top: 90px;
  font-size: 20px;
  font-family: "Acme", sans-serif;
  .watchlist_title {
    text-align: left;
    font-size: 45px;
    font-weight: bold;
    padding: 30px;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    background: #eeeeee;
  }

  .movie_item {
    padding-bottom: 25px;
    background: #eeeeee;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 3px solid black;
    padding-top: 25px;
    .poster {
      width: 200px;
      line-height: 0px;
    }
    .center_panel {
      display: flex;
      width: 800px;
      flex-flow: column nowrap;
      margin-left: 30px;
      align-self: stretch;
      * {
        margin-top: 10px;
      }
      .title {
        font-size: 50px;
        line-height: 50px;
        text-align: left;
      }
      .genres {
        display: flex;
        font-size: 25px;
        flex-direction: row;
        p {
          margin: 0;
          padding-right: 20px;
        }
      }
      .info {
        font-size: 22px;
        display: flex;
        flex-direction: row;
        line-height: 15px;
        div {
          display: flex;
          margin-right: 30px;
        }
      }
      .overview {
        text-align: left;
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
    .right_panel {
      width: 180px;
      flex: 1 1 auto;
      min-height: 278px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: stretch;
      .remove {
        margin: 0px;
        margin-right: 30px;
        margin-bottom: 25px;
        align-self: flex-end;
        img {
          width: 50px;
        }
      }
      .personal {
        height: 50px;
        line-height: 30px;
        margin-right: 10px;
        &_rate {
          line-height: 10px;
        }
        img {
          width: 45px;
          margin-left: 10px;
        }
      }
      .rating {
        height: 45px;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        margin-bottom: 5px;
        font-size: 30px;
        line-height: 50px;
        align-self: flex-end;
        img {
          width: 45px;
          margin-left: 10px;
        }
      }
    }
  }
}
