.home {
  font-family: "Acme", sans-serif;
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 18.5%;
  .popular {
    margin: 0 80px;
    .title {
      font-size: 40px;
    }
    .list {
      display: flex;
      justify-content: space-around;
      .item_movie {
        width: 260px;
        img {
          width: 250px;
          height: 375px;
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 25px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      button {
        padding: 0;
        width: 104px;
        background: white;
        border: 0;
        height: 375px;
        &:hover {
          background: rgb(172, 172, 172);
        }
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
