.person-container {
  font-family: "Acme", sans-serif;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  .person-details {
    display: flex;
    flex-direction: row;
    text-align: left;
    .person-profile {
      img {
        border-radius: 10px;
      }
      .person-birth-place {
        font-size: 25px;
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 30px;
        background-color: rgb(199, 199, 199);
        p {
          margin: 0;
        }
      }
      .person-social {
        margin-top: 10px;
        img {
          cursor: pointer;
          height: 75px;
          width: 75px;
          margin: 5px;
        }
      }
    }
    .person-info {
      padding-left: 30px;
      .person-title {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 60px;
        font-weight: bold;
        img {
          padding-left: 20px;
          height: 45px;
          width: 45px;
        }
      }
      p {
        font-size: 40px;
        margin: 0;
      }
      .person-biography {
        font-size: 20px;
      }
    }
  }
}

.container-error {
  height: 100%;
  padding-bottom: 200px;
  font-family: "Acme", sans-serif;
  margin-top: 90px;
  padding-top: 50px;
  font-size: 50px;
}
