.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100%;
  background: #191919;
  color: white;
  font-family: "Acme", sans-serif;

  .nav_bar {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 10px 0px;
    img {
      height: 70px;
      border-radius: 10px;
    }
    button {
      font-family: "Acme", sans-serif;
      background: #f5c611;
      height: 45px;
      width: 100px;
      border-radius: 10px;
      margin-top: 25px;
      font-size: 20px;
      font-weight: bold;
      border: 0;
    }
    .account {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      box-sizing: border-box;
      .user {
        .username {
          cursor: pointer;
          font-size: 28px;
          width: 200px;
          text-align: right;
          img {
            width: 15px;
            height: 15px;
            margin: 0px 10px;
          }
        }
        &:hover {
          .user_drop {
            display: block;
          }
        }
        .user_drop {
          box-sizing: border-box;
          display: none;
          position: relative;
          cursor: pointer;
          background: #191919;
          color: black;
          border: 1px solid #191919;
          top: 147px;
          width: 200px;
          padding-top: 10px;
          height: 112px;
          a {
            text-decoration: none;
            color: black;
          }
          p {
            background: white;
            margin: 0;
            padding: 9px;
            font-size: 25px;

            &:last-child {
              margin: 0;
            }
            &:hover {
              background: #191919;
              color: white;
            }
          }
        }
      }
    }
  }
}
