$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -15px;
  font-size: 15px;
}

.custom_input {
  position: relative;
  margin: 35px 90px;

  input {
    background: none;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    display: block;
    width: 360px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $sub-color;
    margin: 25px 0px;
    letter-spacing: 0.1em;
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid {
    box-shadow: 0 0;
  }
  input[type="password"]:invalid:focus,
  input[type="email"]:invalid:focus {
    border-bottom: 2px solid red;
    box-shadow: 0 0;
  }

  label {
    color: $sub-color;
    font-size: 16px;
    position: absolute;
    font-size: 20px;
    left: 30px;
    top: 10px;
    pointer-events: none;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
