.search {
  display: flex;
  flex-direction: row;
  margin: 0px 40px;
  & * {
    font-family: "Acme", sans-serif;
    box-sizing: border-box;
    font-size: 25px;
  }
  .search_box {
    .search_input {
      width: 500px;
      height: 45px;
      margin-top: 25px;
      border-radius: 5px;
      border: 1px solid black;
      padding-left: 15px;
      padding-top: 5px;
      &:focus + .dropdown {
        display: block;
      }
    }
    .dropdown {
      display: none;
      width: 500px;
      background: rgb(255, 255, 255);
      &:hover {
        display: block;
      }
      & * {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 20px;
      }
      .dropdown_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        img {
          margin-left: 5px;
          padding: 1px;
        }
        p {
          max-height: 70px;
          margin-left: 10px;
          overflow: hidden;
        }
      }
      .dropdown_item:hover {
        background-color: cornsilk;
      }
    }
  }

  #{&}_type {
    &:hover {
      .type_menu {
        display: block;
      }
    }
    .type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 150px;
      height: 45px;
      margin-top: 25px;
      margin-left: 5px;
      border-radius: 5px;
      background: white;
      padding: 10px 0 1px 10px;
      color: black;
      cursor: pointer;
      img {
        align-self: center;
        position: relative;
        right: 10px;
        max-width: 15px;
        max-height: 15px;
      }
    }
    .type_menu {
      display: none;
      position: relative;
      top: 2px;
      left: 5px;
      width: 150px;
      height: 90px;
      border-radius: 5px;
      color: black;
      z-index: 3;
      background: #ebebeb;
      p {
        border-radius: 5px;
        padding: 7px;
        margin: 0;
        &:hover {
          background-color: rgb(182, 182, 182);
        }
      }
    }
  }
}
