$primary_color: linear-gradient(
  to bottom,
  #b3341b,
  #be3129,
  #c92e36,
  #d32c44,
  #dc2a53
);

.login {
  margin-top: 140px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1200px;
  font-family: "Acme", sans-serif;

  .form {
    width: 50%;
    background: rgb(255, 255, 255);
    height: 600px;
    position: relative;
    z-index: 4;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(0);
  }
  .swaper_l {
    width: 50%;
    height: 600px;
    background: linear-gradient(
      to right top,
      #971608,
      #9c1c0c,
      #a1220f,
      #a72813,
      #ac2d16,
      #b22e1c,
      #b83023,
      #be3129,
      #c62f33,
      #ce2d3d,
      #d52b48,
      #dc2a53
    );
    position: relative;
    z-index: 4;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(0);
    &_button {
      background: #b3341b;
    }
  }
  .swaper_r {
    @extend .swaper_l;
    background-image: linear-gradient(
      to right top,
      #e13d1d,
      #e23729,
      #e23334,
      #e12f3e,
      #df2c47,
      #d92949,
      #d3264a,
      #cd234b,
      #c21e45,
      #b7193f,
      #ac1339,
      #a10d33
    );
    &_button {
      background: #dc2a53;
    }
  }
  .in-hide {
    z-index: 3;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(600px);
  }
  .up-hide {
    z-index: 3;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-600px);
  }
  h1 {
    font-size: 50px;
    margin: 55px 0px;
  }
  .h1_swap {
    margin-top: 150px;
    margin-bottom: 0;
    color: white;
  }
  p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 18px;
    margin: 60px 30px;
  }
}
.form_button {
  width: 260px;
  height: 55px;
  border-radius: 40px;
  background: linear-gradient(
    to bottom,
    #b3341b,
    #be3129,
    #c92e36,
    #d32c44,
    #dc2a53
  );
  color: white;
  font-size: 25px;
  border: 4px solid white;
}
.divider {
  border-bottom: 2px solid black;
  margin: 20px auto;
  width: 500px;
  div {
    width: 50px;
    position: relative;
    top: 11px;
    left: 215px;
    padding: 0 10px;
    background: white;
  }
}
